@media (max-width: 770px) {
  .original {
    max-width: 400px;
    padding-right: 5%;
  }
}

@media (max-width: 767px) {
  .original {
    max-width: 270px;
  }
}

@media (max-width: 575px) {
  .original {
    margin-top: 5%;
  }
}

@media (max-width: 414px) {
  .original {
    max-width: 230px;
    margin-top: 8%;
  }
}

@media (max-width: 320px) {
  .original {
    max-width: 180px;
  }
}

